body {
  font-family: Georgia, serif;
  background-image: linear-gradient;
}

.banner-content {
  background-color: #495562;
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
  font-weight: bold;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #495562;
}

img {
  max-height: 500px;
}
